@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #eeeeee;
    height: auto;
		position: relative;
}

.navbar {
	z-index: 1;
	width: 100%;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    background: #7D74CF;
    background: linear-gradient(to right, #2ecfb4 0%, #7D74CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav li a {
    font-weight: normal;
}

.nav-item .navbar-login {
    margin-left: 40px;
    margin-right: 0;
    color: #fff;
 }

.card:hover {
    transform: scale(1.03);
}

.card-body a {
    color: #fff;
}

.jumbotron-button {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    form {
        width: 90%;
    }
}

/*`lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
 .nav-item .navbar-login {
    margin-left: 0;
    margin-right: 0;
		margin-bottom: 30px;
		margin-top: 30px;
 }
}
